---
layout: default
---
<div class="container">
    <div class="row">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="row no-print">
        {% include nav.html %}
    </div>
    <div class="row no-print">
        <div class="alert alert-danger " role="alert">
            <strong>注意！</strong>
            以下參考參考答案是從歷年考古直接複製貼上；可能因法規更新而答案有所變動，請自行斟酌使用。
        </div>
    </div>
    <div class="row">
        {{ content }}
    </div>
    <div class="row no-print">
        最後更新：{{ site.time }}
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ 'assets/jquery-3.6.4.slim.min.js' | relative_url }}"></script>
<script src="{{ 'assets/popper.min.js' | relative_url }}"></script>
<script src="{{ 'assets/bootstrap.min.js' | relative_url }}"></script>
<script>
    $('table').addClass('table').addClass('table-striped');
</script>
